
<header>
  <div class="container-flow">
      <div class="wrapper">
          <nav>
              <ul class="flex-wrp main-menu">
                  <li><a href="prohanceC.html">Prohance </a></li>
                  <li><a href="prohanceD.html">Prohance D</a></li>
                  <li><a href="prohanceM.html">Prohance mom</a></li>
                  <li class="main-logo"><a href="landing-page.html"><img src="images/prohance-logo.png" alt="prohance-logo"></a></li>
                  <li><a href="javascript:;">Recipes</a></li>
                  <li><a href="javascript:;">Nutrition Calculator</a></li>
                  <li><a href="javascript:;">Share Stories</a></li>
              </ul>   
          </nav>
      </div>
  </div>
</header>
<main id="fullpage">
  <!-- Section main-banner Starts -->
  <section class="product flex-wrp">
      <div class="container">
          <div class="landing-desc">
              <p>Click on the products below to know more about the</p>
              <p class="bold">Prohance range</p>
          </div>
          <div class="wrapper flex-wrp">
              <a href="prohanceC.html">
                  <div class="product-wrp flex-wrp">
                      <div class="model-img">
                          <img src="images/prohanceC/stand.png" alt="model-img">
                      </div>
                      <div class="bg-img">
                          <img src="images/landing/green-patch.png" alt="bg-img">
                          <span class="link-arr">
                              <img src="images/prohanceC-arr.png" alt="link-arrow">
                          </span>
                      </div>
                      <div class="product-img">
                          <img src="images/landing/product-c.png" alt="product-img">
                      </div>
                  </div>
              </a>
              <a href="prohanceD.html">
                  <div class="product-wrp flex-wrp">
                      <div class="model-img">
                          <img src="images/landing/model-d.png" alt="model-img">
                      </div>
                      <div class="bg-img">
                          <img src="images/landing/blue-patch.png" alt="bg-img">
                          <span class="link-arr">
                              <img src="images/prohanceD-arr.png" alt="link-arrow">
                          </span>
                      </div>
                      <div class="product-img">
                          <img src="images/landing/product-d.png" alt="product-img">
                      </div>
                  </div>
              </a>
              <a href="prohanceM.html">
                  <div class="product-wrp flex-wrp">
                      <div class="model-img">
                          <img src="images/prohanceM/mom.png" alt="model-img">
                      </div>
                      <div class="bg-img">
                          <img src="images/landing/voilet-patch.png" alt="bg-img">
                          <span class="link-arr prohanceM-arr">
                              <img src="images/prohanceM-arr.png" alt="link-arrow">
                          </span>
                      </div>
                      <div class="product-img">
                          <img src="images/landing/product-m.png" alt="product-img">
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </section>        
  <!-- Section main-banner Ends -->
</main>
<footer>
  <div class="container-flow">
      <div class="wrapper flex-wrp">
          <div class="copy flex-wrp">
              <p class="copyright">Copyright © Sun Pharmaceutical Industries Ltd. </p>
              <ul class="flex-wrp">
                  <li><a href="javascript:;">Privacy Policy</a></li>
                  <li><a href="javascript:;">Disclaimer</a></li>
                  <li><a href="javascript:;">Terms Of Use</a></li>
              </ul>
          </div>
          <div class="subs-wrp">
              <ul class="flex-wrp">
                  <li><a href="javascript:;">subscribe</a></li>
                  <li><a href="javascript:;">unbscribe</a></li>
              </ul>
          </div>
          <div class="social-wrp">
              <ul class="flex-wrp">
                  <li>
                      <img src="images/fb.png" alt="fb">
                  </li>
                  <li>
                      <img src="images/tw.png" alt="tw">
                  </li>
                  <li>
                      <img src="images/yt.png" alt="yt">
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>